In [6]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from sklearn.model_selection import train_test_split

In [28]:
landmarks = pd.read_csv('../../Data/train.csv')
landmarks.landmark_id = landmarks.landmark_id.astype(str)
landmarks

                       id landmark_id
0        17660ef415d37059           1
1        92b6290d571448f6           1
2        cd41bf948edc0340           1
3        fb09f1e98c6d2f70           1
4        25c9dfc7ea69838d           7
...                   ...         ...
1580465  72c3b1c367e3d559      203092
1580466  7a6a2d9ea92684a6      203092
1580467  9401fad4c497e1f9      203092
1580468  aacc960c9a228b5f      203092
1580469  d9e338c530dca106      203092

[1580470 rows x 2 columns]

In [29]:
def get_file(id):
    root = 'C:/Users/samma/Desktop/Data science projects/landmark-recognition-2021/Data/train/'
    subfolder ='/'.join(x for x in id[0:3])
    file = '/'+id+'.jpg'
    return root+subfolder+file

In [30]:
get_file(landmarks.id[0])

'C:/Users/samma/Desktop/Data science projects/landmark-recognition-2021/Data/train/1/7/6/17660ef415d37059.jpg'

In [31]:
landmarks['file'] = landmarks.id.apply(get_file)
landmarks

,id,landmark_id,file
0,17660ef415d37059,1,C:/Users/samma/Desktop/Data science projects/l...
1,92b6290d571448f6,1,C:/Users/samma/Desktop/Data science projects/l...
2,cd41bf948edc0340,1,C:/Users/samma/Desktop/Data science projects/l...
3,fb09f1e98c6d2f70,1,C:/Users/samma/Desktop/Data science projects/l...
4,25c9dfc7ea69838d,7,C:/Users/samma/Desktop/Data science projects/l...
...,...,...,...
1580465,72c3b1c367e3d559,203092,C:/Users/samma/Desktop/Data science projects/l...
1580466,7a6a2d9ea92684a6,203092,C:/Users/samma/Desktop/Data science projects/l...
1580467,9401fad4c497e1f9,203092,C:/Users/samma/Desktop/Data science projects/l...
1580468,aacc960c9a228b5f,203092,C:/Users/samma/Desktop/Data science projects/l...
1580469,d9e338c530dca106,203092,C:/Users/samma/Desktop/Data science projects/l...

In [32]:
train, valid = train_test_split(landmarks,test_size=0.2, random_state=77)
valid

,id,landmark_id,file
729842,d2fe1bc9bd6027c0,93986,C:/Users/samma/Desktop/Data science projects/l...
1453674,207864de862beb09,187004,C:/Users/samma/Desktop/Data science projects/l...
1209467,02947ebe5ef092c7,155720,C:/Users/samma/Desktop/Data science projects/l...
769676,2781d79f5b9b0f41,99361,C:/Users/samma/Desktop/Data science projects/l...
753290,f8c01c4ee414bae8,97147,C:/Users/samma/Desktop/Data science projects/l...
...,...,...,...
64136,6a1d5fb77c24a459,8254,C:/Users/samma/Desktop/Data science projects/l...
1289737,55e7d553d174fe0f,166190,C:/Users/samma/Desktop/Data science projects/l...
1413464,4fa105b8a2e609f6,181623,C:/Users/samma/Desktop/Data science projects/l...
587233,820ec8c1e3e51ff1,75128,C:/Users/samma/Desktop/Data science projects/l...
36271,41bd98a34e2ca7d5,4600,C:/Users/samma/Desktop/Data science projects/l...

In [ ]:
datagen = ImageDataGenerator(rescale=1/255)

train_generator = datagen.flow_from_dataframe(dataframe=train, x_col='file', y_col='landmark_id', class_mode='categorical',
                                             target_size = (300,300), batch_size=32)
validation_generator = datagen.flow_from_dataframe(dataframe=valid, x_col='file',  y_col='landmark_id', class_mode='categorical',
                                                  target_size=(300,300), batch_size=32)

Found 1264376 validated image filenames belonging to 81076 classes.